*{
  outline:none;
}
.app {
  padding: 30px;
  height: 100vh;
  background-color: floralwhite;
}



.todo-list {
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #eb1313;
  padding: 15px 10px 30px;
 
}

.todo {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 10px;
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #f50a0a0e;
  
}

form input {
  width: 100%;
  padding: 20px 0px;
  border-radius: 50px;
  border: 1px solid #e3e3e3;
  text-indent: 23px;
  
}
.title{

  text-align: center;
}